/* General Styling */

html {
  background-color: rgb(220, 220, 220);
}

html,
body,
#root,
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-nav,
.container > footer {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(198, 198, 198);
}

.flex-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex-shrink: 0;
  min-width: fit-content;
}

.centered {
  margin: 0.5rem clamp(0.1rem, 20rem, 20%);
  padding: 1rem;
  background-color: white;
  flex-grow: 1;
}

.center-text {
  text-align: center;
}

/* Nav styling */

.flex-nav {
  align-items: center;
  justify-content: center;
  line-height: baseline;
}

.flex-nav > li {
  padding: 0rem 0.5rem;
  margin: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.1rem;
}

.flex-nav > li:hover,
.flex-nav .active {
  cursor: pointer;
  user-select: none;
  color: rgb(255, 0, 0);
}

.flex-pair > button {
  all: unset;
}

.flex-pair {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.flex-pair > input {
  flex-grow: 1;
}

.flex-end {
  text-align: end;
  justify-self: flex-end;
}

.bag-pair {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-nav svg {
  width: 1.5rem;
}

.bag-pair > span {
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}

/* Footer styling */

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.1rem;
}

.flex-footer > * {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.flex-footer a,
.flex-nav a {
  all: unset;
  cursor: pointer;
}

.flex-footer a:hover {
  text-decoration: underline;
}

/* Products & Shop */

.remove-child-padding {
  margin: 1rem 0 2rem 0;
}

.remove-child-padding > * {
  padding: 0;
  margin: 0;
}

.subheading {
  color: rgb(61, 61, 61);
}

.tiled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tiled > * {
  all: unset;
  width: 30%;
  height: fit-content;
}

.tiled > *:hover {
  cursor: pointer;
  color: red;
}

.tiled > * {
  padding: 0;
  margin: 0;
}

.product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  gap: 0.25rem;
}

.product-card > img {
  transition-timing-function: ease-in-out;
  transition: 0.25s;
  aspect-ratio: 1/1;
  height: 90%;
  width: 90%;
}

.product-card > img:hover {
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
}
