/* General Styling */

html {
  background-color: rgb(220, 220, 220);
}

html,
body,
#root,
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-nav,
.container > footer {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
  color: rgb(170, 170, 170);
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex-shrink: 0;
  min-width: fit-content;
}

.centered {
  margin: 0.5rem clamp(0.1rem, 20rem, 20%);
  padding: 1rem;
  background-color: white;
  flex-grow: 1;
}

.container > footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Nav styling */

.flex-nav {
  align-items: center;
  justify-content: center;
  line-height: baseline;
}

.flex-nav > li {
  padding: 0rem 0.5rem;
  margin: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.1rem;
}

.flex-nav > li:hover,
.flex-nav .active {
  cursor: pointer;
  user-select: none;
  color: white;
}

.flex-pair > button {
  all: unset;
}

.flex-pair {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.flex-pair > input {
  flex-grow: 1;
}

.flex-end {
  text-align: end;
  justify-self: flex-end;
}

.bag-pair {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-nav svg {
  width: 1.5rem;
}

.bag-pair > span {
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
